
.userdata__container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.userdata__form {
    width: 300px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.coord-input {
    display: none;
}

.content-div__field{
    position: relative;
}


.userdata__input-desc {
    display: none;
    position: absolute;
}

.userdata__form-btn {
    margin-top: 20px;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: unset;
    border: 3px solid var(--shadowcolor);
    transition: all .3s;
}

.userdata__form-btn--activated{
    color: var(--maincolor);
    background-color: #000000;
}

.userdata__form-btn:disabled {
    transition: none;
    background-color: var(--shadowcolor);
}
.userdata__form-btn:disabled:hover {
    border: 3px solid var(--foreground);
    background-color: var(--shadowcolor);
    color: var(--foreground);
}

.userdata__form-btn:hover {
    border: 3px solid var(--maincolor);
    background-color: var(--foreground);
    color: var(--background);
}
.userdata__form-btn--activated:hover{
    color: var(--maincolor);
    background-color: #000000;
    color: var(--maincolor);
}

.gender-wrapper{
    display: flex;
    justify-content: space-around;
}
.gender__input{
    transition: all .3s;
    cursor: pointer;
    border-radius: 50%;
    appearance: none;
    width: 30px;
    height: 30px;
    border: 3px dashed var(--shadowcolor);
}
.gender__input:hover{
    border: 3px dashed var(--maincolor);
}
.gender__input:checked{
    background-color: var(--maincolor);
}
.gender__label{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}